<footer class="footer"> Website design by <strong>Tim Moyence </strong> <a href="http://www.linkedin.com/in/tim-moyence"> Contact me on linkedin</a></footer>

<script src="/JavaScript/menu.js"></script>
</body>
</html>