<%- include ('partials/head') %>

<section id="home">
  <div class="presentation">
    <h1>Tim Moyence</h1>
    <p>
      Après six ans passé chez Decathlon, dont trois en tant que responsable
          ou j’ai pu acquérir des compétences grâce a des tâches aussi diverses
          et variées, apportées par le métier de responsable, m’ont permises de
          mettre en pratique mes compétences scolaire aussi bien dans la gestion
          d’un rayon par, le pilotage de l’activité, le management d’une équipe
          (en passant du recrutement, a l’intégration puis l’évolution de celle
          ci grâce aux entretiens de développements) ainsi que l’organisation du
          rayon. Tout cela dans l’idée de gestion d’une entreprise car chaque
          responsable de rayon dois gérer son univers comme si il gérait son
          business. Mais également lancer des services prometteur comme
          l’occasion. J’ai pris la décision de me reconvertir dans un nouveau
          métier. Le métier de développeur. En effet, j’ai toujours été attiré
          par le digital et les métiers en lien avec l’informatique, j’ai pu
          lors de mon master réaliser deux sites web sur wordpress, puis un sur
          lequel j’ai pu travailler au quotidien. Très agile j’aime le mouvement
          et le changement, cette reconversion est donc une aubaine pour moi
          d’aller vers un univers en constant mouvement. L’objectif sera en tant
          que jeune développeur web de pouvoir allier les deux choses qui me
          passionne, le voyage et la découverte de nouvelle culture avec un
          affection particulière pour le code.
    </p>
  </div>
  <img
    class="home__photo"
    src="/image/photo__site.JPG"
    alt="photo présentation Tim"
  />
</section>
<section class="about" id="about">
  <h2>About</h2>
  <h3>Who am I</h3>
  <p>...</p>
  <h3>My Skills</h3>
  <h4>Hard Skills</h4>
  <p>...</p>
  <h4>Soft Skills</h4>
  <p>...</p>
</section>
<section class="experience" id="experience">
  <h2>Experience</h2>
  <h3>Formation</h3>
  <p>...</p>
  <h3>Work</h3>
  <p>...</p>
</section>
<section class="portfolio" id="portfolio">
  <h2>Portfolio</h2>
</section>

<%- include ('partials/foot') %>
