.main{
  background-color: #0C1821;
  height : 100vh;
}

.promesses{
  color: #59D4E4 
}

.partials {
  background-color: #3D767E;
}

.btn-contact{
 background-color: #59D4E4;
}

.btn-contact:hover{
 background-color: #0C1821;
 color: #59D4E4; 
}