*{
  font-family: 'Barlow', sans-serif !important;
}

h1, 
h2,
h3,
h4,
h5,
h6{
font-family: 'Nunito', sans-serif !important;
}

.main{
  background-color: #0C1821;
  height: 100%;
}

.nav-bar-title{
  color: #59D4E4 
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color:#59D4E4 !important;
}

.partials {
  background-color: #3D767E;
}

section{
  min-height: 80vh !important;
  max-width: 80%;
  padding-top: 56px !important;
}

.presentation-picture{
  max-width: 10rem;
  aspect-ratio: 1/2;
  object-fit: contain;
}

.presentation__paraph{
  max-width: 80%;
}

.skill-picture{
  max-width: 15rem;
  aspect-ratio: 1/2;
  object-fit: contain;
}

.hard-skill__img{
  max-width: 4rem;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.list-group-item, 
.list-group-mine{
  background-color: #d4eafa;
  border: none !important;
}


.carousel-item{
  max-height: 90vh !important;
}

.btn-contact
{
 background-color: #59D4E4 !important;
}

.btn-contact:hover{
 background-color: #0C1821;
 color: #59D4E4; 
}

.logo-contact{
  max-width: 2rem !important;
  aspect-ratio: 1/2;
  object-fit: contain;
}