</main>

<footer class="footer text-white py-4 partials">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
        <h3 class="pb-2">Email</h3>
        <p>123 Rue du Contact</p>
        <h3 class="pb-2">Github</h3>
        <p>123 Rue du Contact</p>
        <h3 class="pb-2">linkedIn</h3>
        <p>123 Rue du Contact</p>
      </div>
      <div class="col-md-6">
        <h3 class="pb-2" >Contactez-nous</h3>
        <form>
            <div class="form-group pb-2">
                <label for="name" class="pb-2 ms-2">Nom :</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group pb-2">
                <label for="email" class="pb-2 ms-2">Email :</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group pb-2">
                <label for="message" class="pb-2 ms-2">Message :</label>
                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
            </div>
            <div class="form-group d-flex justify-content-end ">
                <button type="submit" class="btn btn-contact">Envoyer</button>
            </div>
        </form>
      </div>
      
    </div>
  </div>
</footer>

</body>
</html>