* {
  box-sizing: border-box;
  color: #99a3ab;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.scroller::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroller{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

header {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  position: sticky;
  top: 0;
  background-color: #2c383f;
  color: #fff;
}

.compagnie {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: #36cac8;
}

.compagnie__logo {
  width: 5rem;
  height: 5rem;
  border-radius: 24rem;
  margin-left: 1.5rem;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: #36cac8;
}

.menu > a {
  padding: 0.25rem;
}