/* Conteneur principal */
.container {
  height: 100vh;
  display: flex;
  font-size: 1rem;
  background-color: #f7fafb;
  margin: 0 auto;
}

.about,
.portfolio{
  background-color: #dbe1e8;
  width: 100%;
}

/* Section avec défilement vertical */
/* todo reussir a fixer le scrool avec la bar des menu */
.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller .container {
    scroll-snap-align: start;
}

/* Styles pour la section "Presentation" */
.presentation {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.presentation__paraph {
  display: flex;
}

.home__photo {
  height: 40rem;
  width: 35rem;
  border-radius: 50%;
  /* TODO Comment avec la photo qui se découpe quand elle dépasse de sa box */
}


/* Styles pour les titres en gras */
strong {
  color: #36cac8;
}
/* Style pour les titres */
h2{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

h3{
margin-left: 2rem;
font-size: 1.8rem;
margin-bottom: 0.5rem;
}

h5{
  margin-left: 3rem;
font-size: 1.4rem;
margin-bottom: 0.5rem;
}

/* Styles pour les compétences "Hard Skills" et "Soft Skills" */
.hardSkill,
.softSkill {
  margin-bottom: 1.25rem;
  padding: 1.25rem;
}

.hardSkill h4,
.softSkill h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.hardSkill li,
.softSkill li {
  font-size: 1rem;
  /* list-style-type: disc; */
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}



/* Styles pour les compétences "Developper Skill" */
.devSkillContenaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
  margin-left: 15%;
  margin-right: 15%;
}

/* Styles pour les images des compétences "Developper Skill" */
.devSkill {
  display: flex;
  height: 4rem;
  width: 4rem;
}

/* Styles pour les compétences "Soft Skills" */
.softSkill__item {
  font-size: 1rem;
  font-style: italic;
}

/* Styles pour les liens dans la section "About" */
.about a {
  color: #007bff;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}


/* Styles pour les liens dans la section "About" */
.about a {
  color: #007bff;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}
