.contenaire {
  height: 100vh;
  display: flex;
  font-size: 1rem;
  background-color: #f7fafb;
}

.about,
.portfolio{
  background-color: #dbe1e8;
  width: 100%;
}

.presentation{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  margin-right: 2rem;
}

.presentation__paraph{
    display: flex;
}


.home__photo {
  height: 40rem;
  width: 35rem;
  border-radius: 50%;
}

.devSkillContenaire{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.hardSkill,
.softSkill{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding-bottom: 2rem;
}

.about li{
  display: flex;

  border: 1px solid blue;
}
.devSkill {
  display: flex;
  justify-content: space-between;
  border: 1px solid #36cac8;
  height: 4rem;
  width: 4rem;
}

h2{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.experience{
    flex-wrap: wrap;
    flex-direction: column;
    
}

strong{
  color: #36cac8 ;
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller .contenaire {
    scroll-snap-align: start;
}

