<%- include ('partials/head') %> <%- include ('partials/header') %>

<section class="mt-4 mb-4 m-auto p-4" style="background-color: #d4eafa">
  <h1 class="p-2 text-center pt-5">Tim Moyence</h1>
  <img
    src="/image/photo__site.JPG"
    alt=""
    class="rounded mx-auto d-block presentation-picture img-thumbnail"
  />
  <p class="presentation__paraph mt-4 m-auto">
    Après six ans passé chez Decathlon, dont trois en tant que responsable ou
    j’ai pu acquérir des compétences grâce a des tâches aussi diverses et
    variées, apportées par le métier de responsable, m’ont permises de mettre en
    pratique mes compétences scolaire aussi bien dans la gestion d’un rayon par,
    le pilotage de l’activité, le management d’une équipe (en passant du
    recrutement, a l’intégration puis l’évolution de celle ci grâce aux
    entretiens de développements) ainsi que l’organisation du rayon. Tout cela
    dans l’idée de gestion d’une entreprise car chaque responsable de rayon doit
    gérer son univers comme si il gérait son business. Mais également lancer des
    services prometteur comme l’occasion.
  </p>
  <p class="presentation__paraph mt-4 m-auto">
    J’ai pris la décision de me reconvertir dans un nouveau métier. Le
    <strong>métier de développeur</strong>. En effet, j’ai toujours été attiré
    par le digital et les métiers en lien avec l’informatique, j’ai pu lors de
    mon master réaliser deux sites web sur wordpress, puis un sur lequel j’ai pu
    travailler au quotidien. Très agile j’aime le mouvement et le changement,
    cette reconversion est donc une aubaine pour moi d’aller vers un univers en
    constant mouvement. L’objectif sera en tant que jeune développeur web de
    pouvoir allier les deux choses qui me passionne, le voyage et la découverte
    de nouvelle culture avec un affection particulière pour le code.
  </p>
  <div class="d-flex justify-content-center mt-5">
    <!-- Enlever les ""  -->
    <button type="submit" class="btn btn-contact">En savoir plus "&#x23F5"</button>
  </div>
</section>
<section class="mt-4 mb-4 m-auto" style="background-color: #d4eafa">
  <h1 class="p-2 text-center pt-5">My Skills</h1>
  <div class="container p-4">
    <div class="row ">
      <div class="col-md-4"> 
        <img
    src="/image/photo__site.JPG"
    alt=""
    class="rounded mx-auto d-block presentation-picture"
  />
      </div>
      <div class="row col-md-8 ">
        <div class="col-md-8">
        <h4>Hard Skills</h4>
        <ul>
          <li class="managerSkill list-group-item">Pilotage Activitée</li>
          <li class="managerSkill list-group-item">OrganisationUnité Commerciale</li>
          <li class="managerSkill list-group-item">Création Association</li>
          <li class="managerSkill list-group-item">Management Equipe</li>
          <li class="managerSkill list-group-item">Recrutement</li>
          <li class="managerSkill list-group-item">Gestion Temps</li>
          <li class="managerSkill list-group-item">Analyse Marché</li>
          <li class="managerSkill list-group-item">Vente</li>
        </ul>
      </div>
        <div class="col-md-4">
        <h4>Soft Skills</h4>
        <ul>
          <li class="softSkill__item list-group-item">Agilité</li>
          <li class="softSkill__item list-group-item">rigueur</li>
          <li class="softSkill__item list-group-item">souplesse</li>
          <li class="softSkill__item list-group-item">écoute</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include ('partials/foot') %>
