<%- include ('partials/head') %>

<main class="scroller">
  <div class="container-fluid scroller_container ">
    <section id="home">
      <div class="presentation">
        <div class="presentation_text">
          <p>
            Après six ans passé chez Decathlon, dont trois en tant que
            responsable ou j’ai pu acquérir des compétences grâce a des tâches
            aussi diverses et variées, apportées par le métier de responsable,
            m’ont permises de mettre en pratique mes compétences scolaire aussi
            bien dans la gestion d’un rayon par, le pilotage de l’activité, le
            management d’une équipe (en passant du recrutement, a l’intégration
            puis l’évolution de celle ci grâce aux entretiens de développements)
            ainsi que l’organisation du rayon. Tout cela dans l’idée de gestion
            d’une entreprise car chaque responsable de rayon dois gérer son
            univers comme si il gérait son business. Mais également lancer des
            services prometteur comme l’occasion.
          </p>
          <p>
            J’ai pris la décision de me reconvertir dans un nouveau métier. Le
            métier de développeur. En effet, j’ai toujours été attiré par le
            digital et les métiers en lien avec l’informatique, j’ai pu lors de
            mon master réaliser deux sites web sur wordpress, puis un sur lequel
            j’ai pu travailler au quotidien.
          </p>
          <p>
            Très agile j’aime le mouvement et le changement, cette reconversion
            est donc une aubaine pour moi d’aller vers un univers en constant
            mouvement. L’objectif sera en tant que jeune développeur web de
            pouvoir allier les deux choses qui me passionne, le voyage et la
            découverte de nouvelle culture avec un affection particulière pour
            le code.
          </p>
          <ul>
              <li class="managerSkill">Pilotage Activitée</li>
                      <li class="managerSkill">OrganisationUnité Commerciale</li>
                      <li class="managerSkill">Création Association</li>
                      <li class="managerSkill">Management Equipe</li>
                      <li class="managerSkill">Recrutement</li>
                      <li class="managerSkill">Gestion Temps</li>
                      <li class="managerSkill">Analyse Marché</li>
                      <li class="managerSkill">Vente</li>
          </ul>
        </div>
        <img
          class="presentation_img img-fluid img-thumbnail"
          src="/image/photo__site.JPG"
          alt="photo présentation Tim"
        />
      </div>
    </section>
  </div>
 <div class="container-fluid scroller_container ">
    <section class="skills " id="skills">
      <h2 class="text-center fs-1">My skills</h2>
    <div class="hardSkill d-flex flex-wrap flex-column">
        <div class="devSkillContenaire d-flex">
            <h4 class="fs-2" >Hard Skills</h4>
        </div>
        <div class="devSkillContenaire text-center d-flex align-items-center justify-content-around">
          <d class="devskill p-2"><img class="devskill__img" src="/image/languages/HTML.png" alt=""><p class="text-body-secondary">HTML</p></d>
          <div class="devskill p-2"><img class="devskill__img" src="/image/languages/CSS.png" alt=""><p class="text-body-secondary">CSS</p></div>
          <div class="devskill p-2"><img class="devskill__img" src="/image/languages/JS.png" alt=""><p class="text-body-secondary">JavaScript</p></div>
          <div class="devskill p-2"><img class="devskill__img" src="/image/languages/Node.png" alt=""><p class="text-body-secondary">Node.js</p></div>
          <div class="devskill p-2"><img class="devskill__img" src="/image/languages/SQL.png" alt=""><p class="text-body-secondary">postgresSQL</p></div>
        </div>
      </div>
      <ul class="softSkill d-flex flex-column">
        <h4 class="fs-2">Soft Skills</h4>
        <li class="softSkill__item p-2">Agilité
            <p class="text-body-secondary">Pourquoi agitilté</p>
        </li>
        <li class="softSkill__item p-2">rigueur
            <p class="text-body-secondary">Pourquoi rigueur</p>
        </li>

        <li class="softSkill__item p-2">souplesse
            <p class="text-body-secondary">Pourquoi souplesse</p>
        </li>
        <li class="softSkill__item p-2">écoute
            <p class="text-body-secondary">Pourquoi écoute</p>
        </li>
      </ul>
    </section>
  </div>
</main>

<%- include ('partials/foot') %>
